<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @script.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @script.price %>
</p>

<p>
  <strong>Time:</strong>
  <%= @script.time %>
</p>

<p>
  <strong>Place1:</strong>
  <%= @script.place1 %>
</p>

<p>
  <strong>Place2:</strong>
  <%= @script.place2 %>
</p>

<p>
  <strong>Place3:</strong>
  <%= @script.place3 %>
</p>

<p>
  <strong>Car:</strong>
  <%= @script.car %>
</p>

<p>
  <strong>Active:</strong>
  <%= @script.active %>
</p>

<%= link_to 'Edit', edit_script_path(@script) %> |
<%= link_to 'Back', scripts_path %>
